.hamburger{
    padding:1rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(254, 255, 255, 0.21);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
 
  top: 1.2rem;
  left: 2rem;
  align-self: center;
}
.hamburger .line{
    width: 45px;
    height: 5px;
    background-color: #e6e6e6;
    display: block;
    margin: 8px auto;
    
    transition: all 0.3s ease-in-out;
  }
  .hamburger:hover{
    cursor: pointer;
  }

  #hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }