*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}
label{
    text-decoration: underline;
}
body{
    display: flex;
    align-items: center;
  
    min-height: 100vh;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
.ham{
    align-self: flex-start;
}
.container{
    display: flex;
    width: 100%;
    height: 750px;
    gap: 10px;
    padding: 10px;

}
section{
    background-color: white;
    border-radius: 7px;
}


.tools-board{
    width: 10px;
    
    padding: 15px 22px 0;

 background: rgba(255, 255, 255, 0.61);
 border-radius: 16px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(10.3px);
 -webkit-backdrop-filter: blur(10.3px);
 border: 1px solid rgba(255, 255, 255, 0.49);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    opacity: 0;
}
.tools-board .row{
    margin-bottom: 20px;
}
.row .options{
    /* removed list styl  */
    list-style: none;
    margin: 10px 0 0 5px;

}
.row .options .option{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;

}

span:hover{
    color: #000307;
}

.option :where(span,label){
    color: #5a6168;
    padding-left: 10px;
    cursor: pointer;
}
.option #fill-color{
    height: 14px;
    cursor: pointer;
    width: 14px;

}
#fill-color:checked ~label{
 color: #000;
}

.option #size-slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
   
}

.option:is(:hover, .active) img{
    filter:invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option:is(:hover, .active) :where(span, label){
    font-weight: 800;
  background: -webkit-linear-gradient(#000000, #016264);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.colors .options{
    display: flex;
    justify-content: space-between;
    

}
.colors .option{
    height: 20px;
    width: 20px;
   
    border-radius: 50%;
    margin-top: 4px;
    position: relative;
}
.colors .option:nth-child(1){
    background-color: #fff;
    border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
    background-color: #000;
}
.colors .option:nth-child(3){
    background-color: #E02020;
}
.colors .option:nth-child(4){
    background-color: #6dd400;
}
.colors .option:nth-child(5){
    background-color: #0170f7;
}
.colors .option.selected::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    border-radius: inherit;
    background: inherit;
    border: 2px solid white;
    transform: translate(-50%,-50%);
}
.colors .option:first-child.selected::before{
    border-color: #ccc;

}

.option #color-picker{
opacity: 0; 
cursor: pointer;
}


.buttons button{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    margin-bottom: 13px;
    font-size: 0.9rem;
    background: none;
    border-radius: 5px;
    cursor: pointer;

}

.buttons .clear-canvas{
    color: #0a0a0a;
    border: 1px solid #080808;
    transition: all 0.3s ease;

}
.buttons .undo{
    color: #0a0a0a;
    border: 1px solid #080808;
    transition: all 0.3s ease;
    
}
.buttons .redo{
    color: #0a0a0a;
    border: 1px solid #080808;
    transition: all 0.3s ease;
    
}
.redo:hover{
    color: #fff;
    background: #6c757d;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.undo:hover{
    color: #fff;
    background: #6c757d;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.clear-canvas:hover{
    color: #fff;
    background: #6c757d;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}



.buttons .save-img{
    background: #066fef;
    border: 1px solid #4a98f7;
    transition: all 0.3s ease;

    
}
.save-img:hover{
    color: #fff;
    background: #0a0a0a;
    border-color: #fff;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.drawing-board{
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    flex: 1;
    
   
}

.drawing-board canvas{
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.colors li:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
